.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    text-align: center;
    img {
        width: 50%;
        }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 16px;
    }
    
}


// .snapped {
//   background-color: black, 0.5;
//   color: darkgreen, 3px 3px 7px;
//   button{
//     box-shadow: burlywood;
//     color: darkgray;
//     &:active{
//       box-shadow: burlywood, 0 0 5;
//     }
//   }
// }
.snapped {
  background-color: white4;
  color: darkgreen;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: darkgreen;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}
