.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

.luke{
    height : 100%; 
    max-height:375px;
    width : auto;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


button{
  font-size: 20px;
}